:root{
    --dark-green:#184336;
    --white:#F0F0F0;
    --orange: #FF8F42;
}

body{
    background-color: var(--dark-green) !important;
}

.nav{
    padding: 20px 0 20px 0 !important;
    background-color: rgba(255, 255, 255,0.0) !important;
}

.greeter{
    color: var(--white);
    font-size: 20px;
    float: right;
}