{% extends 'base.html' %}
{% load static %}

{% block title %}
- regisztráció
{% endblock title%}

{% block head-content %}
<link rel="stylesheet" type="text/css" href={% static 'css/reg.css' %}>
{% endblock head-content %}

{% block content %}

<nav>
  <a href="{% url 'home-view' %}">
    <div class="logo">greenboard</div>
  </a>
  <a href="#">
    <div class="login">Bejelentkezés</div>
  </a>
</nav>

<div class="container">
  <form 
    id="registration_form"
    @submit="checkForm"
    method="post"
    action="logged_in"
  >

    {% csrf_token %}
    <div class="form-text">Név*<div class="input_error">[[ name_error ]]</div></div>
    
    <input type="text" v-model="name" name="name"/><br />

    <div class="form-text">
        Email*
        <div class="input_error"> [[ email_error ]] </div>
    </div>
    
    <input type="email" v-model="email" name="email"/><br />

    <div class="form-text">Jelszó*
        <div class="input_error">[[ pwd_error ]]</div>
    </div>
   
    <input type="password" v-model="password" name="password"/>

    <div class="aszf-text">
      A <b>Regisztrálok</b> gombra kattintva automatikusan elfogadod a
      <a href="#">felhasználási feltételeinket</a>!
    </div>
    
    <input class="reg_button" type="submit" value="Regisztrálok">

  </form>

</div>

{% endblock content %}

{% block scripts %}<script>

var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#registration_form',
    data: {
        errors: 0,
        name: null,
        email: null,
        password: null,
        message: 'Hello',
        name_error: null,
        email_error: null,
        pwd_error: null
    },
    methods: {
        registration: function(){
            this.checkForm();
        },
        checkForm: function(e){
            this.errors = 0;

            if (!this.name) {
                this.name_error = 'A név megadása kötelező!';
                this.errors++;
            }else{
                this.name_error = null;
            }

            if (!this.password) {
                this.pwd_error = 'A jelszó megadása kötelező!';
                this.errors++;
            }else{
                this.pwd_error = null;
            }

            if (!this.email) {
                this.email_error = 'Email cím megadása kötelező!';
                this.errors++;
            } else if (!this.validEmail(this.email)){
                this.email_error = 'Kérem adjon meg érvényes email címet!';
                this.errors++;
            }else{
                this.email_error = null;
            }

            if (this.errors === 0) {
                console.log(`
                name: `+this.name+`
                email: `+this.email+`
                password: `+this.password);
                return true;
            }
            e.preventDefault();
        },
        validEmail: function (email) {
            return true;
        }
    },
});



</script> {% endblock scripts %}