{% extends 'base.html' %}
{% load static %}

{% block title %}
- regisztráció
{% endblock title%}

{% block head-content %}
<link rel="stylesheet" type="text/css" href={% static 'css/reg.css' %}>
{% endblock head-content %}

{% block content %}

<nav>
  <a href="{% url 'home-view' %}">
    <div class="logo">greenboard</div>
  </a>
  <a href="{% url 'login-view' %}">
    <div class="login">Bejelentkezés</div>
  </a>
</nav>

<div class="container">
  <form 
    id="registration_form"
    @submit="checkForm"
    method="post"
    action="logged_in"
  >

    {% csrf_token %}
    <div class="form-text">Név*<div class="input_error">[[ name_error ]]</div></div>
    
    <input type="text" v-model="name" name="name"/><br />

    <div class="form-text">
        Email*
        <div class="input_error"> [[ email_error ]] </div>
    </div>
    
    <input type="email" v-model="email" name="email"/><br />

    <div class="form-text">Jelszó*
        <div class="input_error">[[ pwd_error ]]</div>
    </div>
   
    <input type="password" v-model="password" name="password"/>

    <div class="aszf-text">
      A <b>Regisztrálok</b> gombra kattintva automatikusan elfogadod a
      <a href="#">felhasználási feltételeinket</a>!
    </div>
    
    <input class="reg_button" type="submit" value="Regisztrálok">

  </form>

</div>

{{ isUsernameUsed|json_script:"isUsernameUsed" }}
{{ lastUsername|json_script:"lastUsername" }}
{{ lastEmail|json_script:"lastEmail" }}

{% endblock content %}

{% block scripts %}<script src="{% static 'js/reg.js' %}"></script> {% endblock scripts %}