{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head-content %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href={% static 'css/landing.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/animation.css' %}>
{% endblock head-content %}


{% block content %}
<section>
  <div class="bg_image">

    <div class="container-fluid">
      <div class="row">
        <div class="col full-width">

          <a href="{% url 'home-view' %}">
            <div class="logo">greenboard</div>
          </a>

          <a href="{% url 'login-view' %}">
            <div class="login">Bejelentkezés</div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="title-box col-8 col-lg-6 col-xl-5">
          <h1>Sosem volt még ilyen</h1>
              <h1 class="changeable active">egyszerű</h1>
              <h1 class="changeable">gyors</h1>
              <h1 class="changeable">modern</h1>
              <h1>órára készülni!</h1>

              <a href="{% url 'registration-view' %}" class="title-button tryit">Kipróbálom!</a>
              <a href="#tryit" class="title-button whatis">Mi ez?</a>
        </div>
        <div class="col col-md-1"></div>
      </div>
    </div>
  </div>
</section>


<section class="white_bg">
  <a name="tryit" style="color: rgba(0, 0, 0, 0);">.</a>
  <div class="more_text_holder">

    <div class="picture"></div>

    <h1>Közösségi oldal, tanároknak</h1>
    <p>Ossz meg dolgozatokat, prezentációkat és videókat, vagy böngéssz a többiek által megosztott anyagok közt és
      színesítsd az óráidat!</p>
      <div class="tryit2_holder">
        <a href="{% url 'registration-view' %}" class="title-button tryit2">Kipróbálom!</a>
      </div>
  </div>

</section>


<section class="dark_bg">


  <div class="container contact-holder">
    <h1>Lépj velünk kapcsolatba!</h1>
    <div class="row">
      <div class="col-md-6">
        <a href="#">
          <div id="fb"></div>
        </a>
      </div>
      <div class="col-md-6">
        név
        <input type="text" name="name" id="name">
        email
        <input type="email" name="email" id="email">
        üzenet
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-primary">Elküldés!</button>
      </div>
    </div>
  </div>
</section>
<div class="aszf"><a href="#">Adatkezelési nyilatkozat és ÁSZF</a><br>GreenBoard © 2020</div>
{% endblock content %}


{% block scripts %}

<script>

  var slideIndex = 0;
  showSlides();

  function showSlides() {
    console.log(slideIndex + "hi!");
    var slides = document.getElementsByClassName("changeable");


    let actual = slides[slideIndex];

    for (let i = 0; i < slides.length; i++) {
      if (slides[i].classList.contains("active")) {
        slides[i].classList.remove("active");
      }
    }
    actual.classList.add("active");
    console.log(slides);
    slideIndex++;
    if (slideIndex >= slides.length) {
      slideIndex = 0;
    }
    setTimeout(showSlides, 3000);
  }

</script>

{% endblock scripts %}