{% extends 'base.html' %}
{% load static %}

{% block title %}
- Közösségi oldal, tanároknak!
{% endblock title%}

{% block head-content %}
<link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>

{% endblock head-content %}

{% block content %}

{% include 'main/navbar.html' %}

<div class="container main_container" id="main">

    <div id="addNewPost" v-on:click="handleNewPostPanel"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg></div>

    <form action="{% url 'addNewPost' %}" method="post">
    {% csrf_token %}
    <div class="post newPost" id="newPost" v-bind:class="{ newPostOpen: newPostPanelVisible }">
        <div class="container post-header">
            <div class="row" id="post_header" >
                <div class="col-md-8">
                    <input type="text"  v-model="new_title" id="post_title" placeholder="Add meg a címet!" name="post_title">
                </div>
                <div class="col-md-4">
                    <select name="subject" v-model="new_subject" id="subject" @change="changeColor">

                        
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}|{{ subject.subject_color }}">{{ subject.subject_name }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>
        <div class="post-content">
            <textarea name="post_content" v-model="new_content" cols="30" rows="10"></textarea>
        </div>
        <div class="post-footer" id="post_footer">
            <div class="sendNewPost">
                    <svg aria-hidden="true" v-on:click="sendPostToDb" focusable="false" data-prefix="fas" data-icon="paper-plane"
                        class="svg-inline--fa fa-paper-plane fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z">
                        </path>
                    </svg>
            </div>
        </div>
    </div>
    </form>

    {% for post in posts %}
    <div class="post" db_id="{{ post.post_subject }}">
        <div class="post-header">
            <div class="post_title">{{ post.post_title }}</div>
            <div class="post_author" id="post_author" style="background-image: url('{% for user in users %}{% if user.id == post.post_author %}{{ user.profile.image.url }}{% endif %}{% endfor %}');"></div>
        </div>
        <div class="post-content">
            {{ post.post_content }}<br>

            <input type="hidden" class="stored_post_author" value="{{ post.post_author }}">
            <input type="hidden" class="stored_post_subject" value="{{ post.post_subject }}">
        </div>
        <div class="post-footer">
            <button class="likebutton" @click="like({{ post.id }})">
                <img src="{% static 'icons/heart-regular.svg' %}">
            </button>
            <div class="likes">{{ post.likes }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

{% block scripts %}
<script>
let url = "{% url 'testPostRequest' %}";
let subjects = '{% for subject in subjects %}{{subject.id}}|{{subject.subject_name}}|{{subject.subject_color}} {% endfor%}'.split(" ");
let arr = [];
for(let i = 0; i < subjects.length-1; i++){
    arr.push(subjects[i].split("|"));
}
subjects = arr;

</script>
<script src="{% static 'js/main.js' %}">
    
</script>

{% endblock scripts %}