{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/navbar.css' %}>

<nav>
  <div class="container wrapper" id="my_navbar">
    <ul>
        <li class="logo">
          <a href="{% url 'home-view' %}">
          <b>GreenBoard</b>
          </a>
        </li>
        <li class="name_holder" v-on:click="useDropdown">

          <div class="profile_pics" id="navbar_profile_pic">
          </div>
          <div class="name">
            {{ request.user.username }}
            <input type="hidden" id="user_id" value="{{ request.user.id }}">
          </div>
          
          <div class="my_dropdown" v-bind:class="{ makevisible: isVisible }">
            <ul>
              <li>
                <a href="{% url 'profileView' %}">Profilom</a>
              </li>
              <li>
                <a href="{% url 'settingsView' %}">Beállítások</a>
              </li>
              <li>
                <a href="{% url 'logoutView' %}">Kijelentkezés</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
  </div>
</nav>

<script>
  var menu = new Vue({
    delimiters: ["[[", "]]"],
    el: "#my_navbar",
    data: {
      isVisible: false,
    },
    mounted(){
       document.getElementById("navbar_profile_pic").style.backgroundImage = 'url("'+"/media/{{ request.user.profile.image }}"+'")';
      },
    methods: {
      useDropdown: function () {
        this.isVisible = !this.isVisible;
      },
    },
  });
</script>