
{% load static %}

<link rel="stylesheet" type="text/css" href={% static 'css/navbar.css' %}>

<nav>
    <div class="container" id="my_navbar">
        
        <a href="{% url 'home' %}"><div class="logo" id="logo">greenboard</div></a>
        <div class="user" v-on:click="greet">
            <div class="profile_pics"></div>
            <div class="user_name">{{ request.user.username }}</div>
        </div>
        <div class="mydropdown" v-bind:class="{ makevisible: isVisible }">
            <a href="{% url 'profileView' %}"><div class="dropdown-btn">Profilom</div></a>
            <hr>
            <a href="{% url 'settingsView' %}"><div class="dropdown-btn">Beállítások</div></a>
            <hr>
            <a href="{% url 'logoutView' %}"><div class="dropdown-btn">Kijelentkezés</div></a>
        </div>
    </div>
</nav>

<script>
    var menu = new Vue({
    delimiters: ["[[", "]]"],
    el: '#my_navbar',
    data: {
        isVisible: false
    },
    methods: {
        greet: function(){
            this.isVisible = !this.isVisible
        }
    },
});

</script>