{% extends 'base.html' %}
{% load static %}

{% block title %}
- Közösségi oldal, tanároknak!
{% endblock title%}

{% block head-content %}
<link rel="stylesheet" type="text/css" href={% static 'css/msg.css' %}>

{% endblock head-content %}

{% block content %}

{% include 'main/navbar.html' %}

<div class="container" style="margin-top: 80px;" id="msg_app">
    
    <div class="row message_box">
        <div class="title">
            <div class="msg_title">{{ msg.title }}</div>
            
            <div class="sender_and_date">
                <b>
                    <a href="{% url 'openUserProfile' msg.sender.id %}">{{ msg.sender.username }}</a>
                    &rarr; 
                    <a href="{% url 'openUserProfile' msg.receiver.id %}">{{ msg.receiver.username }}</a>
                </b>
                <br>{{ msg.date|date:"Y.m.d - H:i:s" }}
            </div>
        </div>
        <div class="content">
            <div class="message_text">
                {{ msg.msg }}
            </div>

            <div class="reply">
                
                <a href="{% url 'messagesView' %}" style="float: left;"><button>Vissza</button></a>
                <a href="{% url 'send_msg' msg.sender.id %}"><button>Válasz</button></a>
                
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block scripts %}

<script>

let messages_app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#msg_app',
    data: {
        incoming:true
    },
    mounted(){
    },
    methods: {
    }
});

</script>


{% endblock scripts %}