{% extends 'base.html' %}
{% load static %}

{% block title %}
- Közösségi oldal, tanároknak!
{% endblock title%}

{% block head-content %}

<link rel="stylesheet" type="text/css" href={% static 'css/send_msg.css' %}>

{% endblock head-content %}

{% block content %}

{% include 'main/navbar.html' %}

<div class="container" style="margin-top: 80px;" id="send_msg_app">
    
    <div class="row message_box">
        <div class="title">
            <input type="text" id="msg_title" placeholder="Cím">
            <div class="target_holder">
                Címzett: <a href="{% url 'openUserProfile' target.id %}">{{ target.username }}</a>
            </div>
        </div>
        <div class="content">
            <textarea id="contentText" class="message_text" cols="30" rows="10"></textarea>
            <div class="reply">
                <button v-on:click="sendMessage()">Küldés</button>
            </div>
        </div>
    </div>


    <input type="hidden" id="target_id" value="{{ target.id }}">

    <input type="hidden" id="send_url" value="{% url 'send_this_msg' target.id %}">


</div>
{% endblock content %}

{% block scripts %}

<script>

let send_messages_app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#send_msg_app',
    data: {
        incoming:true
    },
    mounted(){
    },
    methods: {
        sendMessage: function(){
            let url = document.getElementById("send_url").value;

            let data = {
                "target":document.getElementById("target_id").value,
                "title":document.getElementById("msg_title").value,
                "content":document.getElementById("contentText").value
            }

            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            console.log(JSON.stringify(data));
            axios.post(url, JSON.stringify(data) ).then(response => this.articleId = response.data.id);

        }
    }
});

</script>


{% endblock scripts %}