*{
    margin: 0;
    padding: 0;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.wrapper{
    width: 100%;
    margin: 0 auto;
  }
  
.wrapper ul {
    list-style: none;
    list-style-type: none;
}

.wrapper ul li {
  margin-top: -16px;
  background: white;
  line-height: 80px;
  text-align: center;
  float: left;
  color: var(--dark-green);
  font-size: 14px;
  position: relative;
}

.my_dropdown{
  transition: height 0.5s;
  height: 0px;
  overflow: hidden;
}

.my_dropdown a {
  color: var(--dark-green);
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 999;
}

.makevisible{
  height: 200px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.logo{
  width: calc(100% - 200px);
}

.logo b {
  float: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-green);
}

.name_holder{
  width: 200px;
}

.name{
  text-align: right;
  font-weight: bold;
}

.name_holder ul li{
  width: 100%;
}

.profile_pics{
  width: 60px;
  height: 60px;
  margin: 10px;
  margin-right: 0px;
  float: right;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 999;
  background-size: cover;
  background-position: center;
}

.profile_pics:hover{
  cursor: pointer;
}