:root{
    --dark-green:#184336;
    --white:#F0F0F0;
    --orange: #FF8F42;
    --softorange: rgb(250, 121, 35);
    --transparent: rgba(255, 255, 255, 0.0);
}
html {
    scroll-behavior: smooth;
  }

/*LANDING PAGE*/

body{
    padding: 0px;
    margin: 0px;
    
}

section {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.bg_image{
    width: 100%;
    height: 100%;
    background-image: url("../img/first_section_bg.png");
    background-size: cover;
    background-position-y: center;
    background-color: #173027;
    background-repeat: no-repeat;
}

.logo{

padding-left: 73px;
padding-top: 30px;

font-weight: 200;
font-size: 30px;
line-height: 59px;

letter-spacing: -0.05em;

color: var(--white);
float: left;
font-weight: 100;
}

.login{
    float: right;
    padding-right: 100px;
    padding-top: 30px;

    font-weight: 200;
    font-size: 30px;
    line-height: 59px;

    letter-spacing: -0.05em;
    color: var(--white);
    font-weight: 300;
}
.container{
    background-color: red;
    width: 100vw;
}

.title-box{
    margin-top: 200px;
}

.title-box h1{
    font-size: 60px;
    font-weight: 100;
    text-align: right;
}

.title-box .changeable{
    display: none; 
    color: var(--orange);
    font-weight: 300;
}

.full-width{
    grid-column: full;
}

.title-box .active{
    display: block;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.title-button{
    float: right;
    margin-top: 50px;
    background-color: var(--transparent);
    width: 200px;
    height: 50px;
    border: 3px solid var(--orange);
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #FFFFFF !important;
    text-align: center;
}


.title-button:hover{
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.whatis{
    margin-right: 20px;
}

.whatis:hover{
    background-color: #ffffff20
}

.tryit{
    background-color:var(--orange);
}



.tryit:hover{
    background-color: var(--softorange);
    border: 3px solid var(--softorange);
}

.white_bg{
    background-color: var(--white);
}

.dark_bg{
    background-color: #001E16;
    color: var(--white);
    padding-top: 100px;
}

.more_text_holder{
    min-width: 300px;
    /* min-height: 500px; */
    height: 80vh;
    width: 60vw;
    max-width: 800px;
    
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    position: relative;
    top: calc(50vh - 40vh - 24px);
    left: 35vw;
    padding: 20px;
    padding-left: 250px;
}

.more_text_holder h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 45px;
    line-height: 59px;

    color: #244C41;
    margin-bottom: 50px;
    margin-top: 150px;
}

.more_text_holder p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;   
    
    color: #244C41;
}

.tryit2{
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid var(--softorange);
    color: var(--softorange) !important;
    line-height: 45px;
    text-align: center;
}

.tryit2:hover{
    cursor: pointer;
    background-color: var(--softorange);
    border: 3px solid var(--softorange);
    color: var(--white);
}

.more_text_holder .picture{
    width: 500px;
    height: 500px;
    background-image: url("../img/green_desk_laptop.png");
    background-size: cover;
    position: absolute;
    left: -300px;
    top: calc(50% - 250px);
}

.dark_bg .container{
    background-color: var(--transparent);
}

.dark_bg h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.dark_bg input, .dark_bg textarea{
    width: 100%;
    background-color: var(--transparent);
    border: 1px solid var(--softorange);
    color: var(--white);
}

.dark_bg textarea {
    height: 100px;
}

.dark_bg button {
    float: right;
    margin-top: 10px;
    background-color: var(--softorange);
    border: none;
}

.dark_bg button:hover {
    background-color: var(--orange);
}

.dark_bg div div {
    color: rgba(199, 96, 0, 0.8);
}


#fb{
    width: 100px;
    height: 100px;
    background-image: url("../img/Facebook_logo.png");
    background-size: cover;
    margin: auto;
    margin-top: 150px;
}


.aszf{
    height: 50px;
    margin: auto;
    margin-top: -55px;
    color: var(--white);
    width: 250px;
    text-align: center;
}
.aszf a{
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .bg_image{
        background-position-x: -10vw;
    }
    .title-box h1{
        font-size: 50px;
    }
}


@media screen and (max-width: 1000px) {
    .bg_image{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/first_section_bg.png');
        background-position-x: -20vw;
    }

    .more_text_holder{
        position: relative;
        margin: auto;
        left: 0;
        min-width: 0px;
        width: 90vw;
        padding: 45px;
    }

    .more_text_holder h1{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .more_text_holder p {
        font-size: 20px;
        margin-bottom: -10px;
    }

    .more_text_holder .picture {
        position: static;
        width: 40vw;
        height: 40vw; 
        margin: auto;
    }

}

@media screen and (max-width: 767px) {
    .title-box h1{
        font-size: 45px;
        text-align: center;
    }
    
    .whatis{
        float: none;
        margin-left: calc(50% - 100px);
    }

    .tryit{
        display: none;
    }

    .bg_image{
        background-position-x: -20vw;
    }

    .logo{
        margin-left: -50px;
    }

    .login{
        font-size: 24px;
        float: right;
        margin: 0px;
        padding-right: 20px;
    }
  }


  @media screen and (max-width: 600px) {
    .bg_image{
        background-position-x: -50vw;
    }

    .title-box{
        margin-top: 100px;
    }
  }


  @media screen and (max-width: 500px) {
      .logo{
          position: absolute;
          margin:  0;
          padding: 0;
          font-size: 25px;
      }

      .login{
          padding-top: 0px;
          padding-right: 10px;
      }

      .title-box {
          margin-top: 150px;
      }

      .title-box h1{
          font-size: 30px;
          font-weight: 300;
      }

      .changeable{
          font-weight: bold;
      }

      .bg_image{
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/mobile_bg.png');
          background-position: center;
      }

      .more_text_holder{
          padding: 20px;
      }

      .more_text_holder h1 {
          font-size: 30px;
          text-align: center;
          line-height: 35px;
      }

      .more_text_holder p {
          line-height: 24px;
          font-size: 16px;
      }

      .more_text_holder .tryit2 {
          width: 200px;
          font-size: 20px;
          height: 35px;
          line-height: 30px;
          margin-top: 15px;
      }

      .more_text_holder .picture{
          width: 70vw;
          height: 70vw;
          margin: auto;
      }

      #fb{
          margin-top: 0px;
      }

      .dark_bg {
          padding-top: 20px;
      }

      .dark_bg h1{
          margin-top: 0px;
          margin-bottom: 10px;
          font-size: 30px;
      }
  }    

/* LANDING PAGE */