.user_profile_container{
    margin-top: 150px;
    max-width: 800px;
}

.user_profile_container h1 {
    text-align: center;
    margin-top: 20px;
}

.user_profile_pics{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--dark-green);
    margin: auto;
}



.followed_subjects {
    align-items: center;
}

.followed_subjects div div
{
    text-align: left;
    font-style: italic;
    margin-top: 10px;
}

.post_holder_row{
    margin: auto;
    margin-top: 20px;
}

.user_post{
    margin-bottom: 40px;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);


}


.personal_message{
    margin-top: 20px;
}
.personal_message button{
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid var(--dark-green);
    margin-left: calc(50% - 50px);
    color: #505050;
}

