{% extends 'base.html' %}
{% load static %}

{% block title %}
- Közösségi oldal, tanároknak!
{% endblock title%}

{% block head-content %}
<style>
    .profile-container{
        margin-top: 100px;
        position: relative;
        /* z-index: -1; */
    }

    .profile-table{
        max-width: 500px;
        margin: auto;
    }

    .save{
        height: 50px;
        padding-right: 10px;
        padding-left: 10px;
        border: none;
        float: right;
        color:var(--dark-green);
        font-weight: bold;
        border: 2px solid var(--dark-green);
        transition: 0.3s;
    }

    .save:hover{
        background-color: var(--dark-green);
        color: white;
    }

    .table input {
        position: relative;
        border: none;
        padding-left: 5px;
        padding-right: 5px;

    }

    .table input:focus {
        border: 1px solid gray;
        border-radius: 5px;
    }

</style>
{% endblock head-content %}

{% block content %}

{% include 'main/navbar.html' %}

<div class="container profile-container" id="profile">
    <h1>Profilom</h1>

    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <form>
                <table class="table profile-table">
                    <tr>
                        <td>Felhasználónév:</td>
                        <td>
                            <input type="text" id="username" name="username" placeholder="{{ request.user.username }}"></td>
                    </tr>
                    <tr>
                        <td>Email cím:</td>
                        <td><input type="email" id="email" name="email" placeholder="{{ request.user.email }}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </form>
            <button v-on:click="saveChanges" class="save">Változások mentése</button>

        </div>
    </div>   
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock scripts %}